.container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
    /* *= Universal Selector and applies to every child */

    /* this is styling all of the childer nested in the container >=style all children of selected element that the selector has selected. */
.container > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;

}

.header {
    background: tomato;
    height: 120px;
}

.footer {
    background: lightgreen;
    height: 80px;
    order: 4;
}

.main {
    background: deepskyblue;
    text-align: left;
    height: 300px;
    font-size: 24px;
    /* flex is shorthand for flex-grow, flex-shrink, flex-basis */
    flex: 1 400px;
    /* default order is zero */
    order: 2;
}

.aside {
    flex: 1;
}
    /* Order is determined by the higher the number the further down its placed */
.aside1 {
    background: gold;
    order: 1;
}

.aside2 {
    background: hotpink;
    order: 2;
}

    /* @media starts a media query. all is all thats at max width. */

    /* @media all and (max-width: 800px){
    .main{
        flex: 3;
    }
    
    .aside1{
        order:1;
    }
    
    .aside2 {
        order:2;
    }
    
    .main{
        order: 2;
    }
    
    .footer {
        order: 4;
    }
}

@media all and (min-width: 600px){
    .aside{
        flex: 1;
    }
} 
    */